html {
    font-family:Arial, Helvetica, sans-serif;
}
header {
    background-color:darkcyan;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    align-items:center;
}
body {
    display:flex;
    flex-flow:column wrap;
    margin:0;
}
#clublogo {
    width:15em;
}
#headernav {
    display:flex;
    flex-flow: row nowrap;
    list-style-type:none;
    justify-content:space-evenly;
    padding-bottom:1vw;
}
.navlink {
    padding-left:2vw;
    padding-right:2vw;
    font-size:1.2em;
}
a.navlink {
    text-decoration: none;
    color:white;
}
a.navlink:visited {
    text-decoration: none;
    color:white;
}
a.navlink:hover {
    text-decoration:underline;
    color:white;
}
a.navlink:active {
    text-decoration: underline;
    color:white;
}
#splash {
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%
}
#newsSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align:center;
    padding-top:.5em;
    margin-top:.5em;
    line-height:1.2;
}
article {
    padding-left:.2em;
    margin-left:.5em;
    padding-right:.5em;
    margin-right:.2em;
}
.articlePhoto {
    width:20vw;
}
#missionStatement {
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    line-height:1.5;
    margin-left:10vw;
    margin-right:10vw;
}
#smNav {
    margin-left:10vw;
    margin-right:10vw;
}
.smIcon {
    width:64px;
    margin-right:1.5em;
    margin-bottom:1em;
}
.medIcon {
    width:90px;
    margin-right:1.5em;
    margin-bottom:1em;
}
footer {
    display:flex;
    flex-flow:column;
    justify-content:space-evenly;
    background-color:darkcyan;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:10vw;
    padding-right:10vw;
    line-height:1.5;
    color:white;
}
@media only screen and (max-width: 600px) {
    .articlePhoto {
        width:75vw;
    }
    #splash {
        height:45vw;
    }
    header {
        background-color:darkcyan;
        display:flex;
        flex-flow:column wrap;
        justify-content:space-around;
        align-items:center;
    }
}